# TESTE T DE STUDENT DE DUAS AMOSTRAS INDEPENDENTES

Analisar a diferença de novas de homens e mulheres de um colégio.

# 0.0 Importações

## 0.1 Bibliotecas

In [1]:
library(dplyr)
library(car) # teste de homogeneidade (levene)
library(RVAideMemoire) # teste de shapiro por grupo

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Carregando pacotes exigidos: carData


Attaching package: 'car'


The following object is masked from 'package:dplyr':

    recode


*** Package RVAideMemoire v 0.9-80 ***

## 0.2 Dataset

In [2]:
enem2019_tratado <- read.csv("data/enem2019_tratado.csv", sep=",")

In [3]:
head(enem2019_tratado)

  NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA NU_IDADE TP_SEXO TP_COR_RACA
1 190001017053 Santa Isabel            22       M       3
2 190001019850 São Paulo               17       F       3
3 190001024874 São Bernardo do Campo   19       M       3
4 190001031050 Embu-Guaçu              17       F       3
5 190001045429 Guarulhos               23       F       1
6 190001050482 São José do Rio Preto   18       F       1
  TP_NACIONALIDADE TP_ESCOLA TP_ENSINO CO_ESCOLA TP_PRESENCA_CN <U+22EF>
1 1                1          1              NA  1              <U+22EF>
2 1                3          1        15567761  1              <U+22EF>
3 1                2          1        35904958  1              <U+22EF>
4 1                2          1              NA  1              <U+22EF>
5 1                1         NA              NA  1              <U+22EF>
6 1                2          1        35028927  1              <U+22EF>
  NOTA_LC NOTA_MT TP_LINGUA TP_STATUS_REDACAO NOTA_COMP1 NOTA_COMP2 NOTA_COMP3
1 592.9   600.2   0         1                 160        200        180
2 634.3   731.8   0         1                 160        120        200
3 509.6   393.2   1         1                  80        160        120
4 487.2   419.2   0         1                 120        120        120
5 629.3   796.1   0         1                 160        200        180
6 555.9   612.8   1         1                 120        160        120
  NOTA_COMP4 NOTA_COMP5 NOTA_REDACAO
1 200        200        940
2 200        200        880
3 100        100        560
4 120         80        560
5 180        160        880
6  80        100        580

In [4]:
# selecionando o colégio a ser analisado

colegioy <- enem2019_tratado %>% filter(CO_ESCOLA=="35151506")

In [5]:
head(colegioy)

      NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA NU_IDADE TP_SEXO TP_COR_RACA
493   190001571703 São Paulo               17       F       1
7918  190001599621 São Paulo               18       F       1
14380 190001618369 São Paulo               17       M       1
22540 190001802905 São Paulo               17       F       2
58249 190001856755 São Paulo               17       M       1
63561 190001877421 São Paulo               17       M       1
      TP_NACIONALIDADE TP_ESCOLA TP_ENSINO CO_ESCOLA TP_PRESENCA_CN <U+22EF>
493   1                3         1         35151506  1              <U+22EF>
7918  1                3         1         35151506  1              <U+22EF>
14380 1                3         1         35151506  1              <U+22EF>
22540 1                3         1         35151506  1              <U+22EF>
58249 1                3         1         35151506  1              <U+22EF>
63561 1                3         1         35151506  1              <U+22EF>
      NOTA_LC NOTA_MT TP_LINGUA TP_STATUS_REDACAO NOTA_COMP1 NOTA_COMP2
493   592.0   640.0   0         1                 160        160
7918  616.0   699.5   0         1                 160        120
14380 592.6   780.2   0         1                 120        120
22540 594.0   732.2   0         1                 140        120
58249 603.8   756.3   0         1                 160        200
63561 599.7   752.0   0         1                 120        140
      NOTA_COMP3 NOTA_COMP4 NOTA_COMP5 NOTA_REDACAO
493   140        140        120        720
7918  160        160        140        740
14380 100        140        160        640
22540 140        180        120        700
58249 200        200        200        960
63561 120        120        140        640

# 1.0 Descrição dos Dados

In [6]:
str(colegioy)

'data.frame':	30 obs. of  25 variables:
 $ NU_INSCRICAO           : num  1.9e+11 1.9e+11 1.9e+11 1.9e+11 1.9e+11 ...
 $ NO_MUNICIPIO_RESIDENCIA: chr  "São Paulo" "São Paulo" "São Paulo" "São Paulo" ...
 $ NU_IDADE               : int  17 18 17 17 17 17 17 17 17 17 ...
 $ TP_SEXO                : chr  "F" "F" "M" "F" ...
 $ TP_COR_RACA            : int  1 1 1 2 1 1 2 1 1 1 ...
 $ TP_NACIONALIDADE       : int  1 1 1 1 1 1 1 1 1 1 ...
 $ TP_ESCOLA              : int  3 3 3 3 3 3 3 3 3 3 ...
 $ TP_ENSINO              : int  1 1 1 1 1 1 1 1 1 1 ...
 $ CO_ESCOLA              : int  35151506 35151506 35151506 35151506 35151506 35151506 35151506 35151506 35151506 35151506 ...
 $ TP_PRESENCA_CN         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ TP_PRESENCA_CH         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ TP_PRESENCA_LC         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ TP_PRESENCA_MT         : int  1 1 1 1 1 1 1 1 1 1 ...
 $ NOTA_CN                : num  549 604 615 575 593 ...
 $ NOTA_CH                : num  576 578 601 659 561 ...
 $ NOTA_LC                : num  592 616 593 594 604 ...
 $ NOTA_MT                : num  640 700 780 732 756 ...
 $ TP_LINGUA              : int  0 0 0 0 0 0 0 0 0 0 ...
 $ TP_STATUS_REDACAO      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ NOTA_COMP1             : int  160 160 120 140 160 120 140 160 120 140 ...
 $ NOTA_COMP2             : int  160 120 120 120 200 140 140 140 120 120 ...
 $ NOTA_COMP3             : int  140 160 100 140 200 120 140 180 140 120 ...
 $ NOTA_COMP4             : int  140 160 140 180 200 120 120 180 140 120 ...
 $ NOTA_COMP5             : int  120 140 160 120 200 140 140 140 140 100 ...
 $ NOTA_REDACAO           : int  720 740 640 700 960 640 680 800 660 600 ...

# 2.0 Teste de Normalidade

Nível de significância de 5%

- Ho = distribuição normal : p > 0.05
- Ha = distribuição não normal : p <= 0.05

In [7]:
byf.shapiro(NOTA_CN ~ TP_SEXO, colegioy)

	Shapiro-Wilk normality tests

data:  NOTA_CN by TP_SEXO

       W p-value
F 0.9032  0.1065
M 0.9603  0.6974

In [8]:
byf.shapiro(NOTA_CH ~ TP_SEXO, colegioy)

	Shapiro-Wilk normality tests

data:  NOTA_CH by TP_SEXO

       W p-value
F 0.9808  0.9745
M 0.9420  0.4084

In [9]:
byf.shapiro(NOTA_LC ~ TP_SEXO, colegioy)

	Shapiro-Wilk normality tests

data:  NOTA_LC by TP_SEXO

       W p-value
F 0.8481  0.0163 *
M 0.9761  0.9357
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [10]:
byf.shapiro(NOTA_MT ~ TP_SEXO, colegioy)

	Shapiro-Wilk normality tests

data:  NOTA_MT by TP_SEXO

       W p-value
F 0.9560  0.6228
M 0.9801  0.9703

In [11]:
byf.shapiro(NOTA_REDACAO ~ TP_SEXO, colegioy)

	Shapiro-Wilk normality tests

data:  NOTA_REDACAO by TP_SEXO

       W p-value
F 0.9508 0.53673
M 0.8825 0.05173 .
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

**A nota de Linguagens e Códigos(LC) não passou no teste de normalidade.**

# 3.0 Homogeneidade das Variâncias

**Variabilidade dos erros constantes.**

Nível de significância de 5%

- Ho = variâncias homogêneas : p > 0.05
- Ha = variâncias não homogêneas : p <= 0.05

In [12]:
leveneTest(NOTA_CN ~ TP_SEXO, colegioy, center=mean)

Warning message in leveneTest.default(y = y, group = group, ...):
"group coerced to factor."

      Df F value  Pr(>F)
group  1 1.341052 0.2566312
      28       NA        NA

In [13]:
leveneTest(NOTA_CH ~ TP_SEXO, colegioy, center=mean)

Warning message in leveneTest.default(y = y, group = group, ...):
"group coerced to factor."

      Df F value    Pr(>F)
group  1 0.03492024 0.8531103
      28         NA        NA

In [14]:
leveneTest(NOTA_MT ~ TP_SEXO, colegioy, center=mean)

Warning message in leveneTest.default(y = y, group = group, ...):
"group coerced to factor."

      Df F value Pr(>F)
group  1 2.50647 0.1246109
      28      NA        NA

In [15]:
leveneTest(NOTA_REDACAO ~ TP_SEXO, colegioy, center=mean)

Warning message in leveneTest.default(y = y, group = group, ...):
"group coerced to factor."

      Df F value Pr(>F)
group  1 2.9514  0.09684474
      28     NA          NA

# 4.0 Teste T para amostras independentes

Nível de significância de 5%

- Ho = não há diferença entre as notas : p > 0.05
- Ha = há diferença entre as notas : p <= 0.05

O default do teste é bicaudal.
Para teste unicaudal, colocar "alternative='greater'" ou "alternative='less'"

In [16]:
t.test(NOTA_CN ~ TP_SEXO, colegioy, var.equal=T) # variância homogênea

	Two Sample t-test

data:  NOTA_CN by TP_SEXO
t = -3.1809, df = 28, p-value = 0.003573
alternative hypothesis: true difference in means between group F and group M is not equal to 0
95 percent confidence interval:
 -66.37240 -14.37427
sample estimates:
mean in group F mean in group M
       563.9333        604.3067

In [17]:
t.test(NOTA_CH ~ TP_SEXO, colegioy, var.equal=T)

	Two Sample t-test

data:  NOTA_CH by TP_SEXO
t = -2.9242, df = 28, p-value = 0.00677
alternative hypothesis: true difference in means between group F and group M is not equal to 0
95 percent confidence interval:
 -87.83638 -15.47028
sample estimates:
mean in group F mean in group M
       574.9867        626.6400

In [18]:
t.test(NOTA_MT ~ TP_SEXO, colegioy, var.equal=T)

	Two Sample t-test

data:  NOTA_MT by TP_SEXO
t = -4.0747, df = 28, p-value = 0.0003438
alternative hypothesis: true difference in means between group F and group M is not equal to 0
95 percent confidence interval:
 -203.23651  -67.25682
sample estimates:
mean in group F mean in group M
       616.2733        751.5200

In [19]:
t.test(NOTA_REDACAO ~ TP_SEXO, colegioy, var.equal=T)

	Two Sample t-test

data:  NOTA_REDACAO by TP_SEXO
t = -0.85175, df = 28, p-value = 0.4016
alternative hypothesis: true difference in means between group F and group M is not equal to 0
95 percent confidence interval:
 -99.87804  41.21137
sample estimates:
mean in group F mean in group M
       701.3333        730.6667

**Conclusão:** Com um intervalo de confiança de 95%, as evidências mostraram que há uma diferença entre as notas de homens e mulheres nas provas de CN, CH e MT. Já na redação, não há evidências para dizer que exista diferença.