# TESTE Z PARA DUAS AMOSTRAS INDEPENDENTES

Analisar a diferença entre as notas de homens e mulheres de um colégio.

# 0.0 Importações

In [1]:
library(dplyr)
library(RVAideMemoire) # teste de shapiro por grupo
library(BSDA)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


*** Package RVAideMemoire v 0.9-80 ***

Carregando pacotes exigidos: lattice


Attaching package: 'BSDA'


The following object is masked from 'package:datasets':

    Orange

# 0.1 Dataset

In [4]:
enem2019_tratado <- read.csv('data/enem2019_tratado.csv', sep=',')

In [5]:
head(enem2019_tratado)

  NU_INSCRICAO NO_MUNICIPIO_RESIDENCIA NU_IDADE TP_SEXO TP_COR_RACA
1 190001017053 Santa Isabel            22       M       3
2 190001019850 São Paulo               17       F       3
3 190001024874 São Bernardo do Campo   19       M       3
4 190001031050 Embu-Guaçu              17       F       3
5 190001045429 Guarulhos               23       F       1
6 190001050482 São José do Rio Preto   18       F       1
  TP_NACIONALIDADE TP_ESCOLA TP_ENSINO CO_ESCOLA TP_PRESENCA_CN <U+22EF>
1 1                1          1              NA  1              <U+22EF>
2 1                3          1        15567761  1              <U+22EF>
3 1                2          1        35904958  1              <U+22EF>
4 1                2          1              NA  1              <U+22EF>
5 1                1         NA              NA  1              <U+22EF>
6 1                2          1        35028927  1              <U+22EF>
  NOTA_LC NOTA_MT TP_LINGUA TP_STATUS_REDACAO NOTA_COMP1 NOTA_COMP2 NOTA_COMP3
1 592.9   600.2   0         1                 160        200        180
2 634.3   731.8   0         1                 160        120        200
3 509.6   393.2   1         1                  80        160        120
4 487.2   419.2   0         1                 120        120        120
5 629.3   796.1   0         1                 160        200        180
6 555.9   612.8   1         1                 120        160        120
  NOTA_COMP4 NOTA_COMP5 NOTA_REDACAO
1 200        200        940
2 200        200        880
3 100        100        560
4 120         80        560
5 180        160        880
6  80        100        580

In [7]:
colegiox <- enem2019_tratado %>% filter(CO_ESCOLA=="35132287")

In [10]:
nrow(colegiox)

[1] 130

# 1.0 Teste de Normalidade

Nível de significância de 5%

- Ho = distribuição normal : p > 0.05
- Ha = distribuição não normal : p <= 0.05

In [8]:
byf.shapiro(NOTA_CN ~ TP_SEXO, colegiox)

	Shapiro-Wilk normality tests

data:  NOTA_CN by TP_SEXO

       W p-value
F 0.9640 0.05273 .
M 0.9892 0.84933
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [9]:
byf.shapiro(NOTA_CH ~ TP_SEXO, colegiox)

	Shapiro-Wilk normality tests

data:  NOTA_CH by TP_SEXO

       W p-value
F 0.9768  0.2522
M 0.9737  0.1883

In [11]:
byf.shapiro(NOTA_LC ~ TP_SEXO, colegiox)

	Shapiro-Wilk normality tests

data:  NOTA_LC by TP_SEXO

       W p-value
F 0.9897  0.8605
M 0.9747  0.2107

In [12]:
byf.shapiro(NOTA_MT ~ TP_SEXO, colegiox)

	Shapiro-Wilk normality tests

data:  NOTA_MT by TP_SEXO

       W p-value
F 0.9820  0.4520
M 0.9817  0.4609

In [13]:
byf.shapiro(NOTA_REDACAO ~ TP_SEXO, colegiox)

	Shapiro-Wilk normality tests

data:  NOTA_REDACAO by TP_SEXO

       W   p-value
F 0.8559 1.853e-06 ***
M 0.9436  0.005584 **
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

**Conclusão:** A nota de redação não passou no teste de normalidade, portanto não será utilizada no teste Z.

#### Separando o dataset

In [14]:
colegiox_mulher <- colegiox %>% filter(TP_SEXO=="F")
colegiox_homem <- colegiox %>% filter(TP_SEXO=="M")

# 2.0 Teste Z para amostras independentes

Nível de significância de 5%

- Ho = não há diferença entre as notas : p > 0.05
- Ha = há diferença entre as notas : p <= 0.05

## 2.1 Ciências Naturais

In [15]:
sd_mulher = sd(colegiox_mulher$NOTA_CN)
sd_homem = sd(colegiox_homem$NOTA_CN)

z.test(colegiox_mulher$NOTA_CN, sigma.x=sd_mulher, colegiox_homem$NOTA_CN, sigma.y=sd_homem, alternative="t")

	Two-sample z-Test

data:  colegiox_mulher$NOTA_CN and colegiox_homem$NOTA_CN
z = -2.336, p-value = 0.01949
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -44.023456  -3.853343
sample estimates:
mean of x mean of y
 596.3788  620.3172

## 2.2 Ciências Humanas

In [16]:
sd_mulher = sd(colegiox_mulher$NOTA_CH)
sd_homem = sd(colegiox_homem$NOTA_CH)

z.test(colegiox_mulher$NOTA_CH, sigma.x=sd_mulher, colegiox_homem$NOTA_CH, sigma.y=sd_homem, alternative="t")

	Two-sample z-Test

data:  colegiox_mulher$NOTA_CH and colegiox_homem$NOTA_CH
z = 0.44746, p-value = 0.6545
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -13.31350  21.19077
sample estimates:
mean of x mean of y
 633.8636  629.9250

## 2.3 Linguagens e Códigos

In [17]:
sd_mulher = sd(colegiox_mulher$NOTA_LC)
sd_homem = sd(colegiox_homem$NOTA_LC)

z.test(colegiox_mulher$NOTA_LC, sigma.x=sd_mulher, colegiox_homem$NOTA_LC, sigma.y=sd_homem, alternative="t")

	Two-sample z-Test

data:  colegiox_mulher$NOTA_LC and colegiox_homem$NOTA_LC
z = 2.1957, p-value = 0.02811
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
  1.382292 24.365814
sample estimates:
mean of x mean of y
 610.5803  597.7062

## 2.4 Matemática

In [18]:
sd_mulher = sd(colegiox_mulher$NOTA_MT)
sd_homem = sd(colegiox_homem$NOTA_MT)

z.test(colegiox_mulher$NOTA_MT, sigma.x=sd_mulher, colegiox_homem$NOTA_MT, sigma.y=sd_homem, alternative="t")

	Two-sample z-Test

data:  colegiox_mulher$NOTA_MT and colegiox_homem$NOTA_MT
z = -2.4539, p-value = 0.01413
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -63.667137  -7.124245
sample estimates:
mean of x mean of y
 712.8621  748.2578

**Conclusão:** Pelo teste Z, não podemos afirmar, com um intervalo de confiança de 95%, que as médias das notas de Ciências Humanas são diferentes para homens e mulheres. Já as notas de Matemática, Ciências Naturais e Linguagens e Códigos apontam que existe essa diferença.